body, html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  scroll-behavior: smooth;
}

nav {
  float: right;
  margin: 30px 50px;
}

.nav-bar {
  color: white;
  width: 100%;
  overflow: hidden;
}

.nav-link {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
}

.nav-link:hover {
  color: #dbdbdb;
}

.nav-link.active {
  border-bottom: 3px solid #03a9f4;
}

.nav-link.active:hover {
  color: #03a9f4;
}

.navbar-toggler {
  display: none;
  cursor: pointer;
}

nav ul li {
  list-style: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.navbar-white {
  background-color: white;
}

.navbar-white .nav-link {
  color: black;
}

#hero-title {
  color: white;
  font-weight: 10;
  float: left;
  margin: 30px 50px;
}

.navbar-white #hero-title {
  color: black;
}

#opener {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0px;
}

/* Media query for navbar */
@media only screen and (max-width: 800px) {
  /* Hide links */
	
  .navbar-toggler {
	  display: block;
    border: none;
    background: transparent !important;
    margin: 10px;
    max-width: 300px;
    z-index: 12;
    transition: all 0.5s linear;
  }

  .icon-bar {
    width: 22px; 
    height: 2px;
    background-color: white;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
  }
  
  .navbar-white .navbar-toggler.hamburger .icon-bar {
    background-color: black;
  }

  .white .icon-bar {
    background-color: white;
  }

  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background-color: white;
  }

  .navbar-toggler .middle-bar {
    opacity: 0;
  }

  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background-color: white;
  }

  .navbar-toggler.hamburger .top-bar {
    transform: rotate(0);
    background-color: white;
  }

  .navbar-toggler.hamburger .middle-bar {
    opacity: 1;
    background-color: white;
  }

  .navbar-toggler.hamburger .bottom-bar {
    transform: rotate(0);
    background-color: white;
  }
  
  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }
  
  
  nav {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: auto;
    right: 0;
    transition: transform ease 0.4s;
    background-color: #05000d;
    width: 100%;
    z-index: 11;
    display: flex;
  }

  nav.open {
    opacity: 1;
    transform: translateX(0%);
  }
  
  nav ul {
    flex-direction: column;
    margin: auto;
    padding: 0;
  }
  
  .mobileMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-link, .navbar-white .nav-link {
    float: none;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    display: block;
  }
  
  #hero-title {
    margin: 15px;
  }
  
  #opener {
    font-size: 2rem;
  }
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #acb7c3
}

form textarea {
  resize: vertical;
}

form input, form textarea {
  display: block;
  width: 100%;
  font-family: 'Open Sans';
  margin: 5px 0;
  font-size: 1rem;
  padding: 5px;
}

form input[type=submit] {
  width: inherit;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 40px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#hero {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    url('assets/images/planet-hero.jpg');
  height: 100vh;
  width: 100%;
}

#hero-text {
  color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#title {
  text-align: center;
  font-weight: 400;
}

#welcome {
  width: 60%;
  margin: auto;
  text-align: center;
}

#pn-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  position: relative;
}

#subscribe {
  background: rgb(50,0,217);
  background: linear-gradient(45deg, rgba(50,0,217,1) 0%, rgba(0,0,0,1) 81%);
  color: white;
  padding: 30px;
  font-size: 2.5rem;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contact {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.35), 
      rgba(0, 0, 0, 0.35)
    ),
    url('assets/images/contact-background.jpg');
  padding: 20px 0 50px 0;
}

#contact-form {
  background-color: white;
  width: 30%;
  margin: auto;
  padding: 40px;
}

#contact-form div {
  display: block;
}

/* Utility Classes */
.white {
  color: white;
}

.center {
  text-align: center;
}

.auto {
  margin: auto;
}

.bold {
  font-weight: 600;
}

.font-600 {
  font-weight: 600;
}

.font-400 {
  font-weight: 400;
}

.font-300 {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  display: table;
}

.btn.block {
  display: block;
}

.btn.round {
  border-radius: 40px;
}

.btn.square {
  border-radius: 0;
}

.btn.blue {
  color: white;
  background-color: #03a9f4;
}

.btn.orange {
  background-color: #ff9800;
  color: white;
}

.btn.purple {
  background-color: purple;
  color: white;
}

.btn.red {
  background-color: #cc1500;
  color: white;
}

.btn.center {
  margin: 0 auto;
}

.btn.big {
  font-size: 1.5rem;
}

.body {
  width: 60%;
  margin: auto;
  white-space: pre;
}

#header {
  background-image: 
    linear-gradient(
      rgba(128, 0, 128, 0.65), 
      rgba(128, 0, 128, 0.65)
    ),
    url('assets/images/red-background.jpg');
  width: 100%;
  background-position: center;
}

#header-text {
  color: white;
  text-align: center;
  width: 100%;
  padding: 150px 0;
}

/* video-card style */
/* [ToDo]: In future move to sass and build with Jekyll in seperate modules */

.video-list-holder {
  margin: 60px 0;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.video-list-holder h2 {
  margin: 0;
}

.video-card {
  padding: 1rem;
  width: 25%;
  box-shadow: 0 10px 20px #ffffff, 0 6px 6px #000000;
  padding-bottom: 1em;
  overflow: hidden;
  margin: 15px;
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 250ms;
}

.video-card:hover {
  transform: translateY(-5px);
}

.video-header {
  color: black;
  text-decoration: none;
  text-align: left;
}

.thumb-container {
  width: 100%;
  height: auto;
  position: relative;
}

.video-badge {
  position: absolute;
  right: 0;
  bottom: 0;
  background: purple;
  color: #FFF;
  padding: .5em .5em .5em .6em;
  border-top-left-radius: 5px;
}

.video-thumbnail {
  width: 100%;
  height: auto;
}


/* quiz style */
#quiz-holder {
  width: 40%;
  margin: auto;
}

.question-holder {
  margin: 40px 0;
}

.question {
  clear: left;
}

.radio-holder {
	clear: both;
}

.radio-holder label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

input.radio {
  transition: background-color 1s linear;
}

/* hide input */
input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: purple;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #03a9f4;
}

input.radio:checked ~ label {
	color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

input.radio.green:checked ~ label:before {
  text-indent: .9em;
	color: #9CE2AE;
	background-color: green;
}

input.radio.red:checked ~ label:before {
  text-indent: .9em;
	color: #9CE2AE;
	background-color: red;
}

@media only screen and (max-width: 800px) {
  .video-card {
    width: 100%;
  }
  
  .parallax {
    background-attachment: scroll;
  }
  
  #header-text {
    padding: 50px 0;
  }
  
  #welcome {
    width: 70%;
  }
  
  #contact-form {
    width: 70%;
  }
} 

@media only screen and (max-width: 990px) {
  #subscribe {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
