---
layout: subpage
---

<div id="header" class="parallax">
    <div id="header-text">
      <h1 id="opener">Videos</h1>
      <h3 class="font-300" style="margin-bottom: 30px;">Physics is true, ya!</h3>
    </div>
  </div>
</div>
<div id="page">
  <div id="welcome">
    {% assign collections = site.collections | sort: 'order' %}
    {% for collection in collections %}
      {% if collection.label != "posts" %}
        <div class="video-list-holder">
          <h2>{{ collection.title }}</h2>
          <div class="video-list">
            {% assign videos = site[collection.label] %}
            {% include tools/sort-videos.html videos=videos %}
            {% for video in out_sortedVideos limit:3 %}
              {% include modules/video-card.html video=video %}
            {% endfor %}
          </div>
          <a href="{{ '/' | relative_url }}{{ collection.permalink | remove: ":name" }}" class="btn blue">View more</a>
        </div>
      {% endif %}
    {% endfor %}
    
  </div>