<!doctype html>
<html lang="en">
  <head>
    {% include base/head.html %}
    <style type="text/css">    
    
    </style>
    <link href="main.css" rel="stylesheet">
  </head>
  <body>
    <div id="hero" class="parallax">
      <ul class="lightrope">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
      {% include base/nav.html %}
      <div id="hero-text">
        <h1 id="opener">Welcome to Answer Me With Mr B HQ!</h1>
        <h3 class="font-300" style="margin-bottom: 30px;">Physics is true. Ya!</h3>
        <a href="https://www.youtube.com/channel/UCv7XjzuzmAKm458IqFehCPQ" class="btn red round big center" target="_blank">Visit on Youtube</a>
      </div>
      <div id="arrow">
        <a href="#welcome"><i class="arrow"></i></a>
      </div>
    </div>
    <div id="page">
      <div id="welcome" style="padding: 40px 0">
        <h1 id="title">Welcome to the channel!</h1>
        <div class="videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/A-bLSGP1gwU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <a href="{{ '/videos' | relative_url }}" class="btn blue big center">View More</a>
      </div>
      {% include base/subscribe.html %}
      <div id="contact" class="parallax">
        <h1 class="center white font-400">Contact Mr B</h1>
        <form id="contact-form" method="post" action="https://getsimpleform.com/messages?form_api_token=b7dfb894a05a009bb8765e5536c854ae">
          <input type='hidden' name='redirect_to' value='https://answermewithmrb.tk' />
          <label for="fname">Name:</label>
          <input type="text" id="fname" name="name" placeholder="Name" required>
          <label for="fname">Email:</label>
          <input type="email" id="femail" name="email" placeholder="Email" required>
          <label for="fmessage">Your message:</label>
          <textarea id="fmessage" name="message" placeholder="Say hello..." style="height:200px" required></textarea>

          <input type="submit" value="Send" class="btn blue square">
        </form>
      </div>
    </div>
    {% include base/footer.html %}
    
    {% include js/menu.html %}
    <script src="https://cdn.jsdelivr.net/gh/scottschiller/Snowstorm/snowstorm-min.js"></script>
    <script>
      snowStorm.snowColor = '#edfbff';
      snowStorm.flakesMaxActive = 200;    // show more snow on screen at once
      snowStorm.useTwinkleEffect = true; // let the snow flicker in and out of view
      snowStorm.followMouse = true;
      snowStorm.useTwinkleEffect = false;
    </script>
  </body>
</html>
