<!doctype html>
<html lang="en">
  <head>
    {% include base/head.html %}
    <style type="text/css">
      .btn.disabled {
        opacity: 0.5;
        cursor: default;
      }
      
      #pn-buttons {
        width: 60%;
        margin: 20px auto;
      }
    </style>
  </head>
  <body>
    <div>
      {% include base/nav.html %}
      
      {{ content }}
      
      {% include base/subscribe.html }
    </div>
    {% include base/footer.html %}
    {% include js/menu.html %}
  </body>
</html>
