---
layout: subpage
---

{% comment %} Get all videos in this collection. {% endcomment %}
{% assign videos = site[page.collection] %}

{% comment %} Sort videos and get previous/next videos. {% endcomment %}
{% include tools/sort-videos.html videos=videos %}
{% include tools/previous-next.html videos=out_sortedVideos currentVideo=page %}

{% include tools/quiz.html %}

  <div id="header" class="parallax">
    <div id="header-text">
      <h1 id="opener">{{ page.level }} - {{ page.title }}</h1>
      <h3 class="font-300" style="margin-bottom: 30px;">{{ page.content }}</h3>
    </div>
  </div>
</div>
<div id="page">
  <div id="pn-buttons">
    <a href="{{ out_previousVideo.url | relative_url | default: 'javascript:void(0)' }}" class="btn left blue round {% if out_previousVideo == null %}disabled{% endif %}">Previous</a>
    <a href="{{ out_nextVideo.url | relative_url | default: 'javascript:void(0)'; }}" class="btn right blue round {% if out_nextVideo == null %}disabled{% endif %}">Next</a>
  </div>
  <div id="welcome">
    <div class="video">
      <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.videoId }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div id="quiz-holder">
    <div id="quiz">
      {% assign qnum = 1 %}
      {% for q in page.quiz %}
      <div class="question-holder">
        <h3 class="question">Question {% increment qnum %}</h3>
        <p>{{ q.question }}</p>
        {% for a in q.answers %}
        {% comment %} This has to loop twice to iterate the key-value pair, why though? {% endcomment %}
          {% for weird in a %}
          <span class="answer-holder"><input type="radio" name="{{ qnum }}">{{ weird[1] }}</span>
          {% endfor %}
        {% endfor %}
        
      </div>
      {% endfor %}
    </div>
    <button id="submit">Submit Quiz</button>
    <div id="results"></div>
  </div>